@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Fira Code', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}
